## LOADING DATAS IN PANDAS

In [163]:
import pandas as pd

### Load CSV file

In [164]:
data_frame = pd.read_csv('pokemon_data.csv')

# print(data_frame)

In [165]:
# head()
# _________________________________________
# print(data_frame.head())  # Top 5 rows
print(data_frame.head(2)) # Top 2 rows

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

In [166]:
# tail()
# ____________________________________________
# print(data_frame.tail()) #  bottom 5 rows
print(data_frame.tail(2)) # bottom 2 rows

       #                Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
798  720  HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721           Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
798      130     80           6       True
799       90     70           6       True

### Load excel file :

In [167]:
data_frame_xlsx = pd.read_excel('pokemon_data.xlsx')
print(data_frame_xlsx.head(2))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

### Reading tab separated file

In [168]:
data_frame_tab_sep = pd.read_csv('pokemon_data.txt', delimiter='\t')
print(data_frame_tab_sep.head(2))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

### READING DATAS IN PANDAS

In [169]:
# READING HEADERS
# __________________________
print(data_frame.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [170]:
# READING SPECIFIC COLUMN
# _____________________________
# print(data_frame.Name)

# print rows containing columns 'Name', 'Type 1'
# print(data_frame[['Name', 'Type 1']])

# print top 2 rows of 'Name', 'Type 1' and 'Type 2'
print(data_frame[['Name', 'Type 1', 'Type 2']].head(2))

        Name Type 1  Type 2
0  Bulbasaur  Grass  Poison
1    Ivysaur  Grass  Poison

In [171]:
# READING SPECIFIC ROW
# __________________________________________________
#   (iloc() -> Integer Location)
# print(data_frame.iloc[0:2]) # prints 0-1 indexed rows

# Print index and name of each rows
# for index, row in data_frame.iterrows():
#     print(index, row['Name'])
   
# loc() 
# print top 2 rows where 'Type 1' = 'Fire'
print(data_frame.loc[data_frame['Type 1'] == 'Fire'].head(2))

   #        Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
4  4  Charmander   Fire    NaN  39      52       43       60       50     65
5  5  Charmeleon   Fire    NaN  58      64       58       80       65     80

   Generation  Legendary
4           1      False
5           1      False

In [172]:
# READING SPECIFIC LOCATION (R,C)
print(data_frame.iloc[0,4])  # returns value at row_index = 0, and col_index = 4

45

## SORTING/DESCRIBING DATA

In [173]:
# Gives us the basic statistics of the data  : describe()
# __________________________________________________
#  print(data_frame.describe())
print(data_frame.describe().Speed) # prints stats of Speed

count    800.000000
mean      68.277500
std       29.060474
min        5.000000
25%       45.000000
50%       65.000000
75%       90.000000
max      180.000000
Name: Speed, dtype: float64

In [174]:
# SORTING : sort_values()
# ____________________________________________________

# Get top 2 sorted rows first by 'Type 1' then by 'Name' in descending order
print(data_frame.sort_values(['Type 1', 'Name'], ascending=False).head(2))

print(end='\n\n')

# Get sorted rows first by Name(ascending) and the 'Type 1'(desending)
print(data_frame.sort_values(['Type 1', 'Name'], ascending=[1,0]).head(2))

       #     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
209  194   Wooper  Water  Ground  55      45       45       25       25
301  278  Wingull  Water  Flying  40      30       30       55       30

     Speed  Generation  Legendary
209     15           2      False
301     85           3      False


       #     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
520  469  Yanmega    Bug  Flying  86      76       86      116       56
208  193    Yanma    Bug  Flying  65      65       45       75       45

     Speed  Generation  Legendary
520     95           4      False
208     95           2      False

### MAKING CHANGES TO DATA

In [175]:
# ADDING COLUMN
# _____________________
# Add a column 'Total' 
data_frame['Total'] = data_frame['HP'] + data_frame['Attack'] + data_frame['Defense'] + data_frame['Sp. Atk'] + data_frame['Sp. Def'] + data_frame['Speed']
    
# DROPPING A COLUMN
data_frame = data_frame.drop(columns=['Total'])

# Add a column 'Total' (Another way using iloc)
# axis=1 (Add horizontally), 2(Add Vertically)
data_frame['Total'] =  data_frame.iloc[:, 4:10].sum(axis=1)

In [176]:
# REORDER THE COLUMNS 
# __________________________

# Reorder and change colms to  ['Type 1', 'Type 2', 'Name']
# data_frame = data_frame[['Type 1', 'Type 2', 'Name']]
# print(data_frame)

# Oreder in Format : {'Name', 'Type 1', 'Type 2', 'Speed', 'HP', 'Attack', 'Defense', 'Sp. Def', 'Sp. Atk',
#                     'Generation', 'Legendary'}
columns = list(data_frame.columns.values)
data_frame = data_frame[columns[0:4] + [columns[-1]] +  [columns[-4]] + columns[4:9] + columns[10:12]]
print(data_frame.head(3))

   #       Name Type 1  Type 2  Total  Speed  HP  Attack  Defense  Sp. Atk  \
0  1  Bulbasaur  Grass  Poison    318     45  45      49       49       65
1  2    Ivysaur  Grass  Poison    405     60  60      62       63       80
2  3   Venusaur  Grass  Poison    525     80  80      82       83      100

   Sp. Def  Generation  Legendary
0       65           1      False
1       80           1      False
2      100           1      False

## SAVING OUR DATA

In [177]:
# Save as CSV with delimiter=','
data_frame.to_csv('modified.csv', index=False) # index = False (Don't save the  indexes)

# Save as xlsx 
data_frame.to_excel('modified.xlsx', index=False)

# Save as CSV with delimiter = '\t'
data_frame.to_csv('modified.txt', index=False, sep='\t')

## FILTERING DATA

In [183]:
# Getting rows which has 'Type 1' = 'Grass' and Speed >= 120

# We can use '|' (OR), '~' (not), etc.
print(data_frame.loc[(data_frame['Type 1'] == 'Grass') & (data_frame['Speed'] >= 120)])

       #                   Name Type 1  Type 2  Total  Speed   HP  Attack  \
274  254               Sceptile  Grass     NaN    530    120   70      85
275  254  SceptileMega Sceptile  Grass  Dragon    630    145   70     110
551  492       ShayminSky Forme  Grass  Flying    600    127  100     103

     Defense  Sp. Atk  Sp. Def  Generation  Legendary
274       65      105       85           3      False
275       75      145       85           3      False
551       75      120       75           4       True

In [185]:
# Filter out top three rows whose 'Name' contains 'Mega'

print(data_frame.loc[data_frame['Name'].str.contains('Mega')].head(3))

   #                       Name Type 1  Type 2  Total  Speed  HP  Attack  \
3  3      VenusaurMega Venusaur  Grass  Poison    625     80  80     100
7  6  CharizardMega Charizard X   Fire  Dragon    634    100  78     130
8  6  CharizardMega Charizard Y   Fire  Flying    634    100  78     104

   Defense  Sp. Atk  Sp. Def  Generation  Legendary
3      123      122      120           1      False
7      111      130       85           1      False
8       78      159      115           1      False

In [188]:
# We can also pass REGEX expression to contains()
import re

# Filter out the rows whose 'Name' begins with Pi and has 'Speed' >= 100
print(data_frame.loc[(data_frame['Name'].str.contains('^Pi', regex=True, flags=re.I)) & (data_frame['Speed'] >= 100)])

       #                 Name  Type 1  Type 2  Total  Speed  HP  Attack  \
22    18              Pidgeot  Normal  Flying    479    101  83      80
23    18  PidgeotMega Pidgeot  Normal  Flying    579    121  83      80
137  127    PinsirMega Pinsir     Bug  Flying    600    105  65     155

     Defense  Sp. Atk  Sp. Def  Generation  Legendary
22        75       70       70           1      False
23        80      135       80           1      False
137      120       65       90           1      False

### CONDITONAL CHANGES

Changing values based on condition

In [200]:
# if 'Type 2' = 'Poison' then, change 'Type 2' to 'Dangerous'
data_frame.loc[data_frame['Type 2'] == 'Poison', 'Type 2'] = 'Dangerous'

# Changing back
data_frame.loc[data_frame['Type 2'] == 'Dangerous', 'Type 2'] = 'Poison'


# if 'Type 1' = 'Grass' then, change 'Generation' = 2 & 'Legendary' = 'True'
data_frame.loc[data_frame['Type 1'] == 'Grass', ['Generation', 'Legendary']] = [2, True]


# Changing back
data_frame = pd.read_csv('pokemon_data.csv')

## AGGREGATE STATISTICS

In [222]:
# groupby()
# mean()

data_frame = pd.read_csv('modified.csv')

# print mean of groups grouped by 'Name' 
# print(data_frame.groupby(['Name']).mean())

# print top 3 descendingly sorted rows of 'mean(Attack)'  grouped by 'Type 1'
print(data_frame.groupby(['Type 1']).mean().sort_values('Defense', ascending=False).head(3))

                 #       Total      Speed         HP      Attack     Defense  \
Type 1
Steel   442.851852  487.703704  55.259259  65.222222   92.703704  126.370370
Rock    392.727273  453.750000  55.909091  65.363636   92.863636  100.795455
Dragon  474.375000  550.531250  83.031250  83.312500  112.125000   86.375000

          Sp. Atk    Sp. Def  Generation  Legendary
Type 1
Steel   67.518519  80.629630    3.851852   0.148148
Rock    63.340909  75.477273    3.454545   0.090909
Dragon  96.843750  88.843750    3.875000   0.375000

In [226]:
# sum()

# print top 3 descendingly ordered rows of 'sum(Total)' grouped by 'Type 1'
print(data_frame.groupby('Type 1').sum().sort_values('Total', ascending=False).head(3))

            #  Total  Speed    HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1
Water   33946  48211   7388  8071    8305     8170     8379     7898
Normal  31279  39365   7012  7573    7200     5865     5470     6245
Grass   24141  29480   4335  4709    5125     4956     5425     4930

        Generation  Legendary
Type 1
Water          320        4.0
Normal         299        2.0
Grass          235        3.0

In [225]:
# count()


# print top 3 descendingly ordered rows of 'count(Legendary)' grouped by 'Type 1'
print(data_frame.groupby('Type 1').count().sort_values('Legendary', ascending=False).head(3))

          #  Name  Type 2  Total  Speed   HP  Attack  Defense  Sp. Atk  \
Type 1
Water   112   112      53    112    112  112     112      112      112
Normal   98    98      37     98     98   98      98       98       98
Grass    70    70      37     70     70   70      70       70       70

        Sp. Def  Generation  Legendary
Type 1
Water       112         112        112
Normal       98          98         98
Grass        70          70         70

In [232]:
# Group by first 'Type 1' then 'Type 2' and print count() of 'Legendary'

print(data_frame.groupby(['Type 1', 'Type 2']).count()['Legendary'])

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Legendary, Length: 136, dtype: int64

## WORKING WITH LARGE  AMOUNT OF DATA

In [235]:
# reading 5-rows at a time from a big data-set
for df in pd.read_csv('modified.csv', chunksize=5):
    pass
    #print('5 rows')
    #print(df)